body {
  font-size: medium;
}
p {
  text-indent: 1em;
}
.noindent {
  text-indent: 0;
}
.underline-removed:link {
  text-decoration: none;
}
.underline-removed:visited {
  text-decoration: none;
}
.underline-removed:hover {
  text-decoration: none;
}
.underline-removed:active {
  text-decoration: none;
}
.term, .info {
  font-weight: bold;
}
p.quoteb {
  text-indent: 0;
  padding-left: 1em;
}
.page-break {
  page-break-before: always;
}
